#secrets 
.env
utils/playwright/.auth/*
#logs catche and runtime data
*.log
app/data/*.json
__pycache__
app/data/*.png
#clankers  
AGENTS.md
.claude
#keep
!utils/playwright/.auth/.gitkeep
!data/.gitkeep
