#editors 
.vscode
.venv
#secrets 
.env
utils/playwright/.auth/*
#logs cache and runtime data
*.log
app/data/*.json
app/data/bot/
app/data/postgresql/
__pycache__
.pytest_cache
app/data/*.png
app/data/leaderboards/
#clankers  
AGENTS.md
.claude
.agents
.codex
#keep
!utils/playwright/.auth/.gitkeep
!data/.gitkeep
